# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Build outputs
/storefront/.next/
/storefront/out/
/storefront/build
/dist
/.build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.vercel
.cache
.temp
*.log
